---
- name: "1. Log in to GitHub Container Registry"
  containers.podman.podman_login:
    registry: ghcr.io
    username: "{{ github_username }}"
    password: "{{ github_token }}"
  become: yes
  become_user: "{{ deployer_user_name }}"
  tags: [always]

- name: "2. Load environment-specific variables"
  # This task includes variables from the correct directory (e.g., vars/production/)
  # based on the 'env' variable passed to the playbook.
  include_vars:
    dir: "{{ role_path }}/vars/{{ env }}"
  tags: [always]

- name: "3. Ensure application directory exists in /opt"
  file:
    path: "/opt/{{ product_name }}/{{ env }}"
    state: directory
    # IMPORTANT: The deployer user needs permissions here, otherwise
    # the container cannot read the environment file
    owner: "{{ deployer_user_name }}"
    group: "{{ deployer_user_name }}"
    mode: '0750'

- name: "4. Deploy .env file to /opt"
  template:
    src: .env.j2
    dest: "/opt/{{ product_name }}/{{ env }}/.env"
    owner: "{{ deployer_user_name }}"
    group: "{{ deployer_user_name }}"
    mode: '0600'
  notify: Restart Backend

- name: "5. Ensure Systemd Quadlet directory exists (User Home)"
  # These files MUST be placed in Home so that Systemd can find them ‘rootless’.
  file:
    path: "/home/{{ deployer_user_name }}/.config/containers/systemd/"
    state: directory
    owner: "{{ deployer_user_name }}"
    group: "{{ deployer_user_name }}"
    mode: '0755'
    recurse: yes

- name: "6. Deploy Quadlet definitions"
  template:
    src: "quadlets/{{ item.src }}"
    dest: "/home/{{ deployer_user_name }}/.config/containers/systemd/{{ item.dest }}"
    owner: "{{ deployer_user_name }}"
    group: "{{ deployer_user_name }}"
    mode: '0644'
  loop:
    - { src: 'textreview.network', dest: 'textreview.network' }
    - { src: 'textreview-db.container.j2', dest: 'textreview-db.container' }
    - { src: 'textreview-backend.container.j2', dest: 'textreview-backend.container' }
  notify: Reload Systemd